*{
    padding: 0;
    margin: 0;
}

ul{
    list-style-type: none;

}

.main-container{
    display: grid;
    grid-template-columns: repeat(1,1fr) repeat(1,4fr);
    height: 100vh;
}

.content-container{
    background: rgb(245, 245, 245);
    display: grid;
    grid-template-rows:repeat(1, 1fr) repeat(1,4fr);
    grid-template-columns: repeat(1, 3fr) repeat(1,1fr);
}

.content{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, minmax(350px,1fr));
    padding: 25px;


}

.content .card{
    height: 200px;
    width: 350px;
    background-image: linear-gradient(to right, rgb(248, 184, 66) 2%, rgba(0,0,0,0) 2%  );

    display: grid;
    grid-template-rows: 3fr 1fr;
    padding-left: 30px;
    padding-top: 30px;
}

.content .content-title{
    grid-column-start: 1;
    grid-column-end: 3;
}

.content .side-content{

    grid-column-start: 2;
    grid-column-end: 3;

}

.side-content{
    display: grid;
    grid-template-rows: auto 1fr auto 1fr; 
    padding: 25px;
    gap: 25px;
}

.sidebar{
    border: 1px solid black;
    color: white;
    background-color: rgb(26, 181, 228);
    display: grid;
    grid-template-rows: auto auto auto;
    padding-left: 15px;
}


.card,
.side-card{
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.card .symbols{
    text-align: right;
    padding-right: 30px;
}

.header{
    background: white;
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 3;

}

.content{
    border: 1px solid black;
}

